@model List<livestockProject.Models.SystemUser>
@{    
    ViewData["Title"] = @LocalizationManager.GetString("Users Page");
}


                            <section class="section main-section">
                                <div class="card has-table">
                                    
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                                              @LocalizationManager.GetString("Users Data")
                                        </p>
                                        <a class="green-btn" asp-area="" asp-controller="Users" asp-action="AddUser">
                                              @LocalizationManager.GetString("Add User")
                                        </a>
                                    </header>
                                    <div class="card-content">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>@LocalizationManager.GetString("ID")</th>
                                                    <th>@LocalizationManager.GetString("Username")</th>
                                                    <th>@LocalizationManager.GetString("NameArabic")</th>
                                                    <th>@LocalizationManager.GetString("NameEnglish")</th>                                                  
                                                    <th>@LocalizationManager.GetString("Group")ID</th>
                                                    <th>@LocalizationManager.GetString("Last Login Date")</th>
                                                    <th>@LocalizationManager.GetString("Last Change Password")</th>
                                                    <th>@LocalizationManager.GetString("Is Active")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var user in Model)
                                                {
                                                    <tr>
                                                        <td>@user.Id</td>
                                                        <td>@user.Username</td>
                                                        <td>@user.NameArabic</td>
                                                        <td>@user.NameEnglish</td>
                                                        <td>@user.UserGroupId</td>
                                                        <td>@user.LastLoginDate</td>
                                                        <td>@user.LastChangePassword</td>
                                                        <td>@(user.IsActive.HasValue ? (user.IsActive.Value ? "Yes" : "No") : "N/A")</td>
                                                        <td>
                                                        <a asp-area="" asp-controller="Users" asp-action="UpdateUser" asp-route-id="@user.Id">
                                                            @LocalizationManager.GetString("Update")
                                                        </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="table-pagination">
                                            <div class="flex items-center justify-between">
                                                <div class="buttons">
                                                    <button type="button" class="button active">1</button>
                                                    <button type="button" class="button">2</button>
                                                    <button type="button" class="button">3</button>
                                                </div>
                                                <small>Page 1 of 3</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>            
                

