@model List<livestockProject.Data.ImportedMeal>
@{
    ViewData["Title"] = @LocalizationManager.GetString("Imported Meal");
}
<link href="~/dist/css/paging.css" rel="stylesheet" />
<script src="~/dist/js/paging.js"></script>
<section class="section main-section">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-success" asp-area="" asp-controller="ImportedMeal" asp-action="AddMealView">
                    @LocalizationManager.GetString("Add Meal")
                </a>
            </div>
        </div>
    </div>
    <br />
    <header class="card-header">
        <h2 class="card-header-title">
            @LocalizationManager.GetString("Imported Meal")
        </h2>
        <a href="#" class="card-header-icon">
            <span class="icon"></span>
        </a>
    </header>
    <div class="card-content">
        <table id="forpage">
            <thead>
                <tr>
                    <th>@LocalizationManager.GetString("ID")</th>
                    <th>@LocalizationManager.GetString("Meal Name")</th>
                    <th>@LocalizationManager.GetString("Origin Country")</th>
                    <th>@LocalizationManager.GetString("Gross Weight")</th>
                    <th>@LocalizationManager.GetString("Net Weight")</th>
                    <th>@LocalizationManager.GetString("Count")</th>
                    <th>@LocalizationManager.GetString("Livestock Type")</th>
                    <th>@LocalizationManager.GetString("Shipping Date")</th>
                    <th>@LocalizationManager.GetString("Shipment Arrival Date")</th>
                    <th>@LocalizationManager.GetString("Status")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var meal in Model)
                {
                    <tr>
                        <td>@meal.Id</td>
                        <td>@meal.MealName</td>
                        <td>@meal.Origincountry</td>
                        <td>@meal.Grossweight</td>
                        <td>@meal.Netweight</td>
                        <td>@meal.Count</td>
                        <td>@meal.Livestocktype</td>
                        <td>@meal.Shippingdate</td>
                        <td>@meal.Shipmentarrivaldate</td>
                        <td>@meal.Status</td>
                        
                        <td>
                            <a onclick="Delele(@meal.Id);" class="button small red --jb-modal" data-target="sample-modal" data-id="@meal.Id">
                                <span class="icon">@LocalizationManager.GetString("Delete")</span>
                            </a>
                        </td>
                    @* <td>
                        <a asp-controller="ImportedMeal" asp-action="EditImportedMeal" class="button small alert-warning --jb-modal" data-id="@meal.Id">
                        <span class="icon">@LocalizationManager.GetString("Edit")</span>
                        </a>
                       </td>*@
                    </tr>
                }
            </tbody>
        </table>
        @*<div class="table-pagination">
            <div class="flex items-center justify-between">
                <div class="buttons">
                    <button type="button" class="button active">1</button>
                    <button type="button" class="button">2</button>
                    <button type="button" class="button">3</button>
                </div>
                <small>@LocalizationManager.GetString("Page") 1 of 3</small>
            </div>
        </div>*@
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

    });
        function Delele(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/ImportedMeal/Delete/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    if (result.success) {

                        alert("Record deleted successfully");
                        loadData(); 
                    } else {

                        alert("Error: " + result.error);
                    }
                },
                error: function (errormessage) {
                    alert("Error: " + errormessage.responseText);
                }
            });
        }

        }
    
</script>
            
